@import url('https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans+Narrow&display=swap');


.container{
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 8px 8px #AAAAAA;
  background-color: #ffffff;
}


.center {
  white-space: nowrap;
  
  text-align: center; margin: 1em 0;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

.row{
  padding: 1.5rem;
  font-family: 'PT Sans Narrow', sans-serif;
}

h4{
  margin-bottom: 1.25rem;
  
}

td, th {
  text-align: center;
}

.col-9 p a{
  color: black;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: x-large;
  margin-top: 0;
  margin-right: 0.75rem;
}



.col-9 .icon-lin:hover{
  color: #1F4690;
}

.col-9 .icon-git:hover{
  color: #533E85;
}


.col-9 .icon-ig:hover{
  color: #7D1E6A;
}


.col-9 .icon-tw:hover{
  color: #3AB4F2;
}


.col-9 .icon-fb:hover{
  color: #0E3EDA;
}


.col-9 .icon-wp:hover{
  color: #3CCF4E;
}


.personal-data{
  margin-top: 1.25rem;
}

.my-cv-header{
  border-bottom: 2px solid black;
}

.my-image{
  border-radius: 5px;
}