@import url('https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans+Narrow&display=swap');

.navbar{
  color: black;
  background-color: transparent;
  padding-bottom: 5px;
  margin-bottom: 1rem;
}

.navbar-brand {
  text-decoration: none;
  color: black;
}

.navbar-brand h2{
  text-decoration: none;
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
  margin-bottom: 0;
}

.navbar-brand p{
  color: black;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: small;
  margin-top: 0;
}

.d-flex a p{
  color: black;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: x-large;
  margin-top: 0;
}