<footer>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">

          <div class="col-12" align='center'>
            <ul class="wrapper">
                <li class="icon facebook">
                  <span class="tooltip">Facebook</span>
                  <a class = "icon-url" href="https://www.facebook.com/raul.maya.507"><span><i class="fab fa-facebook-f"></i></span></a>
                </li>
                <li class="icon twitter">
                  <span class="tooltip">Twitter</span>
                  <a class = "icon-url"href="https://twitter.com/RaulMaya11"><span><i class="fab fa-twitter"></i></span></a>
                </li>
                <li class="icon instagram">
                  <span class="tooltip">Instagram</span>
                  <a class = "icon-url" href="https://www.instagram.com/raul.mayas/"><span><i class="fab fa-instagram"></i></span></a>
                </li>
                <li class="icon github">
                  <span class="tooltip">Github</span>
                  <a class = "icon-url" href="https://github.com/RaulMaya"><span><i class="fa-brands fa-github"></i></span></a>
                </li>
                <li class="icon linkedin">
                  <span class="tooltip">LinkedIn</span>
                  <a class = "icon-url" href="https://www.linkedin.com/in/raul-maya/"><span><i class="fab fa-linkedin"></i></span></a>
                </li>
              </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>