<nav class="my-navbar">
    <ul>
      <li class='list-home'>
        <a href="{% url 'index' %}">
            <i class="fa-solid fa-house"></i>
          <div>
            Home
          </div>
        </a>
      </li>
      <li class='list-project'>
        <a href="{% url 'projects' %}">
            <i class="fa-solid fa-briefcase"></i>

          <div>
            Projects
          </div>
        </a>
      </li>
      <li class='list-resume'>
        <a href="{% url 'resume' %}">
            <i class="fa-solid fa-file"></i>
          <div>
            Resume
          </div>
        </a>
      </li>
      <li class='list-hobby'>
        <a href="{% url 'projects' %}">
            <i class="fa-solid fa-lightbulb"></i>
          <div>
            Interests
          </div>
        </a>
      </li>
      <li class='list-interests'>
        <a href="#">
            <i class="fa-solid fa-award"></i>
          <div>
            Awards
          </div>
        </a>
      </li>
      <li class='list-summary'>
        <a href="#">
            <i class="fa-solid fa-user-gear"></i>
          <div>
            Summary
          </div>
        </a>
      </li>
    </ul>
</nav>