<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <a class="navbar-brand" href="/"><h2>RAÚL MAYA</h2>
      <p>Python Developer | Data Scientist</p></a>
      <div class="d-flex">
            <a class="nav-link" href="{% url "projects" %}"><p>Projects</p></a>
            <a class="nav-link" href="{% url "resume" %}"><p>Resume</p></a>
            <a class="nav-link" href="{% url "contact" %}"><p>Contact</p></a>
            <a class="nav-link" href="https://github.com/RaulMaya/"><p><i class="fa-brands fa-github"></i></p></a>
            <a class="nav-link" href="https://www.linkedin.com/in/raul-maya/"><p><i class="fab fa-linkedin"></i></p></a>
      </div>
  </div>
</nav>

