{% extends 'base.html' %}
{% load static %}

  {% block css_files %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="{% static "portfolios/index.css" %}">
  {% endblock %}

{% block page_title %}
Raul Maya
{% endblock %}


{% block content %}
  <div class="container">
      <div class="card">
        <img src="{% static "portfolios/raulmaya.png" %}" alt="Person" class="card__image">
        <h1 class="card__name">Raul Maya Salazar</h1>
        <p class="occupation">Ford Motor Company | Data Analyst Engineer</p>
        <div class="grid-container">
          <div class="grid-child-posts">
            Data Analyst Engineer, certified by Tecnológico de Monterrey Data Analytics & Visualization Bootcamp. 
            With the goal of navigate through the Data Science and Machine Learning scopes. 
            Also, keep on learning new tools and practices, while combining technical knowledge and experiences 
            to achieve established goals in projects or works.
          </div>
    
        </div>
        <ul class="wrapper">
          <li class="icon facebook">
            <span class="tooltip">Facebook</span>
            <a class = "icon-url" href="https://www.facebook.com/raul.maya.507"><span><i class="fab fa-facebook-f"></i></span></a>
          </li>
          <li class="icon twitter">
            <span class="tooltip">Twitter</span>
            <a class = "icon-url"href="https://twitter.com/RaulMaya11"><span><i class="fab fa-twitter"></i></span></a>
          </li>
          <li class="icon instagram">
            <span class="tooltip">Instagram</span>
            <a class = "icon-url" href="https://www.instagram.com/raul.mayas/"><span><i class="fab fa-instagram"></i></span></a>
          </li>
          <li class="icon github">
            <span class="tooltip">Github</span>
            <a class = "icon-url" href="https://github.com/RaulMaya"><span><i class="fa-brands fa-github"></i></span></a>
          </li>
          <li class="icon linkedin">
            <span class="tooltip">LinkedIn</span>
            <a class = "icon-url" href="https://www.linkedin.com/in/raul-maya/"><span><i class="fab fa-linkedin"></i></span></a>
          </li>
        </ul>
        <ul class="wrapper">
          <li>
            <a class = "icon-url" href="{% url 'projects' %}"><button class="btn draw-border">Projects</button></a>
          </li>
          <li>
            <a class = "icon-url" href="{% url 'resume' %}"><button class="btn draw-border">Resume</button></a>
          </li>
          <li>
            <a class = "icon-url" href="{% url 'interests' %}"><button class="btn draw-border">Interests</button></a>
          </li>
        </ul>
    
      </div>
  </div>
{% endblock %}