{% extends 'base.html' %}
{% load static %}


{% block css_files %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="{% static "portfolios/includes/header.css" %}">
<link rel="stylesheet" href="{% static "portfolios/project.css" %}">
{% endblock %}

{% block page_title %}
Raul Maya
{% endblock %}


{% block content %}
{% include "portfolios/includes/header.html" %}
<div class='l-container'>
    <div class='row'>
<h1>{{ project|title }} Project</h1>
    </div>
<div class='row'>
    <div class='col-4'>       
{% if description is not None %}
    <p>{{ description }}</p>
{% else %}
    <p class="fallback">There is no project available with this name</p>
{% endif %}
</div>
</div>
</div>

<div class="container">
    <div class="row">
      <div class="col-9">.col-9</div>
      <div class="col-4">.col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
      <div class="col-6">.col-6<br>Subsequent columns continue along the new line.</div>
    </div>
  </div>
{% endblock %}