{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="{% static "portfolios/includes/header.css" %}">
<link rel="stylesheet" href="{% static "portfolios/projects.css" %}">
{% endblock %}

{% block page_title %}
RM: Projects
{% endblock %}

{% block content %}
{% include "portfolios/includes/header.html" %}
<div class="l-container">
  
  {% for project, image, desc, urls in projects %}
  <div class="grid__item">
    <div class="card"><img class="card__img" src="{{ image }}">
      <div class="card__content">
        <h1 class="card__header">{{ project|title }}</h1>
        <p class="card__text">{{ desc }}</p>
      </div>
      <center><a href="{{ urls }}"><button class="card__btn">Explore <span>&rarr;</span></button></a></center>
    </div>
    
  </div>
  
  {% endfor %}

</div>
<br>
{% endblock %}
