{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="{% static "portfolios/includes/header.css" %}">
<link rel="stylesheet" href="{% static "portfolios/projects.css" %}">
{% endblock %}

{% block page_title %}
Raul Maya
{% endblock %}

{% block content %}
{% include "portfolios/includes/header.html" %}
<div class="l-container">
  {% for project, image, desc in projects %}
    <div class="b-game-card">
      <a href="">
        <div class="b-game-card__cover" style="background-image: url({{ image }});">
        </div>
        
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ project|title }} Project</h5>
      <p class="card-text">{{ desc }}</p>
      <a href="#" class="btn btn-primary">Go To Project</a>
    </div>
  {% endfor %}
</div>
{% endblock %}