{% extends 'base.html' %}
{% load static %}


{% block css_files %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="{% static "portfolios/includes/header.css" %}">
{% endblock %}

{% block page_title %}
Raul Maya
{% endblock %}


{% block content %}
{% include "portfolios/includes/header.html" %}
<h1>{{ project|title }} Project</h1>
{% if description is not None %}
    <h2>{{ description }}</h2>
{% else %}
    <p class="fallback">There is no project available with this name</p>
{% endif %}
{% endblock %}