{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="{% static "portfolios/includes/header.css" %}">
<link rel="stylesheet" href="{% static "portfolios/includes/footer.css" %}">
<link rel="stylesheet" href="{% static "portfolios/resume.css" %}">
{% endblock %}

{% block page_title %}
RM: Resume
{% endblock %}

{% block content %}
{% include "portfolios/includes/header.html" %}
<br>
<div class="container">
    <div class="row align-items-start">
      <div class="col-5 box" align='left'>
        
        <h4>Raúl Maya Salazar</h4>
        Data Analyst Engineer - Ford Motor Company <br>
        Location: México, CDMX<br>
        Phone: +52 833 159 7006 <br>
        Email: raulmayas20@gmail.com<br>
        LinkedIn: <a href = 'https://www.linkedin.com/in/raul-maya/'>https://www.linkedin.com/in/raul-maya/</a><br>
        Github: <a href = 'https://github.com/RaulMaya'> https://github.com/RaulMaya</a>
      </div>
      <div class="col-1">

        

      </div>
      <div class="col-5 box" align='left'>
        <h4>About Me</h4>
        Industrial and Systems Engineer Tecnológico de Monterrey graduate (2019) and Data Analyst Engineer, 
        certified by Tecnológico de Monterrey in Data Analytics & Visualization Bootcamp (2021). 
        With the goal of navigate through the Data Science and Machine Learning scopes and 
        keep on learning new tools by developing projects and assignments.
      </div>
    </div>
    <br>
    <div class="row align-items-start">
      <div class="col-11 box" align='left'>
        
        <h4>Education</h4>
        High School: Tecnologico de Monterrey | August 2011 - May 2014 | <br>
        College: Tecnologico de Monterrey | August 2014 - May 2019 | <br>
      </div>
    </div>
    <br>
    <div class="row align-items-start">
      <div class="col-11 box" align='left'>
        
        <h4>Work Experience</h4>
        2019 - Samsung SEM-P 
        2019 - 2021 - WMW Altamira
        2022 - Ford Motor Company
      </div>
    </div>
    <br>
    <div class="row align-items-start">
      <div class="col-5 box" align='left'>
        
        <h4>Programming Languages</h4>
        <div class="bar front advanced" data-skill="Python"></div>
        <div class="bar back intermediate" data-skill="Visual Basic"></div>
        <div class="bar back intermediate" data-skill="SQL"></div>
        <div class="bar learning" data-skill="Javascript"></div>   
      </div>  
      <div class="col-1">


      </div>
      <div class="col-5 box" align='left'>
        <h4>Apps and Tools</h4>
        <div class="bar front advanced" data-skill="Tableau"></div>
        <div class="bar front advanced" data-skill="Heroku"></div>
        <div class="bar back intermediate" data-skill="Qlik Sense"></div>
        <div class="bar inside basic" data-skill="Alteryx"></div>
      </div>
      </div>
      <br>
      <div class="row align-items-start">
        <div class="col-5 box" align='left'>
          
          <h4>Languages</h4>
          <div class="bar middle expert" data-skill="Spanish"></div>
          <div class="bar front advanced" data-skill="English"></div>
          <div class="bar learning" data-skill="German"></div> 
        </div>  
        <div class="col-1">


        </div>
        <div class="col-5 box" align='left'>
          <h4>Web Frameworks</h4>
          <div class="bar back intermediate" data-skill="Django"></div>
          <div class="bar back intermediate" data-skill="Flask"></div>
          <div class="bar inside basic" data-skill="jQuery"></div>
        </div>
        </div>
      <div class="row align-items-start">
        <div class="col-2">

  
        </div>
        <div class="col-8">
        </div>
        <div class="col-2">

        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-2">

  
        </div>
        <div class="col-8">
        </div>
        <div class="col-2">

        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-2">

  
        </div>
        <div class="col-8">
        </div>
        <div class="col-2">

        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-2">

  
        </div>
        <div class="col-8">
        </div>
        <div class="col-2">

        </div>
      </div>
    </div>
  </div>
</div>
<br>
{% include "portfolios/includes/footer.html" %}
</div>

{% endblock %}