{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="{% static "portfolios/includes/header.css" %}">
<link rel="stylesheet" href="{% static "portfolios/resume.css" %}">
{% endblock %}

{% block page_title %}
RM: Resume
{% endblock %}

{% block content %}
{% include "portfolios/includes/header.html" %}
<div class="container-fluid">
    <div class="row align-items-start">
      <div class="col-2">

      </div>
      <div class="col-8">
        <h2>Raul Maya Salazar</h2>
        Data Analyst Engineer - Ford Motor Company
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row align-items-start">
        <div class="col-2">
          <ul class="wrapper">
              <li class="icon facebook">
                <span class="tooltip">Facebook</span>
                <a class = "icon-url" href="https://www.facebook.com/raul.maya.507"><span><i class="fab fa-facebook-f"></i></span></a>
              </li>
            </ul>
  
        </div>
        <div class="col-8">

        </div>
        <div class="col">
  
        </div>
      </div>
    <div class="row align-items-start">
        <div class="col-2">
          <ul class="wrapper">
              <li class="icon twitter">
                <span class="tooltip">Twitter</span>
                <a class = "icon-url"href="https://twitter.com/RaulMaya11"><span><i class="fab fa-twitter"></i></span></a>
              </li>
            </ul>
  
        </div>
        <div class="col-8">
        </div>
        <div class="col">

        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-2">
          <ul class="wrapper">

              <li class="icon instagram">
                <span class="tooltip">Instagram</span>
                <a class = "icon-url" href="https://www.instagram.com/raul.mayas/"><span><i class="fab fa-instagram"></i></span></a>
              </li>

            </ul>
  
        </div>
        <div class="col-8">
        </div>
        <div class="col">

        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-2">
          <ul class="wrapper">
  
              <li class="icon github">
                <span class="tooltip">Github</span>
                <a class = "icon-url" href="https://github.com/RaulMaya"><span><i class="fa-brands fa-github"></i></span></a>
              </li>

            </ul>
  
        </div>
        <div class="col-8">
        </div>
        <div class="col">

        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-2">
          <ul class="wrapper">
  
              <li class="icon gmail">
                <span class="tooltip">Gmail</span>
                <a class = "icon-url" href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=raulmayas20@gmail.com&su=Portfolio+Email!&body=Hello+Raul,+I+would+like+to+talk+with+you!"><span><i class="fa fa-envelope"></i></span></a>
              </li>

            </ul>
  
        </div>
        <div class="col-8">
        </div>
        <div class="col">

        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-2">
          <ul class="wrapper">

              <li class="icon linkedin">
                <span class="tooltip">LinkedIn</span>
                <a class = "icon-url" href="https://www.linkedin.com/in/raul-maya/"><span><i class="fab fa-linkedin"></i></span></a>
              </li>
            </ul>
  
        </div>
        <div class="col-8">
        </div>
        <div class="col">

        </div>
      </div>
</div>
{% endblock %}