{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="{% static "portfolios/includes/header.css" %}">
<link rel="stylesheet" href="{% static "portfolios/resume.css" %}">
{% endblock %}

{% block page_title %}
RM: Resume
{% endblock %}

{% block content %}
{% include "portfolios/includes/header.html" %}
<div class='container'>
  <div class='row my-cv-header'>
    <div class='col-3'>
      <div class='center'>
      <span class="helper"></span><img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" width=150>
      </div>
    </div>
    <div class='col-9 personal-data'>
      <h2>Raúl Maya Salazar</h2>
      <p>Python Developer | Data Analyst Engineer - Ford Motor Company <br>
      Location: México, CDMX<br>
      Phone: +52 833 159 7006 | Email: raulmayas20@gmail.com<br>
      <a class = "icon-lin" href="https://www.linkedin.com/in/raul-maya/"><span><i class="fab fa-linkedin"></i></span></a>
      <a class = "icon-git" href="https://github.com/RaulMaya"><span><i class="fa-brands fa-github"></i></span></a>
      <a class = "icon-ig" href="https://www.instagram.com/raul.mayas/"><span><i class="fab fa-instagram"></i></span></a>
      <a class = "icon-tw"href="https://twitter.com/RaulMaya11"><span><i class="fab fa-twitter"></i></span></a>
      <a class = "icon-fb" href="https://www.facebook.com/raul.maya.507"><span><i class="fab fa-facebook-f"></i></span></a>
      <a class = "icon-wp" href="#"><span><i class="fa-brands fa-whatsapp"></i></span></a></p>
    </div>
  </div>
  <div class='row'>
    <div class='col-6 about-me'>
      <h4>About Me</h4>
      Industrial and Systems Engineer Tecnológico de Monterrey graduate (2019) and Data Analyst Engineer, 
      certified by Tecnológico de Monterrey in Data Analytics & Visualization Bootcamp (2021). 
      With the goal of navigate through the Data Science and Machine Learning scopes and 
      keep on learning new tools by developing projects and assignments.
    </div>

    <div class='col-6 educ'>
      <h4>Education</h4>
      <ul>
        <li>High School: Tecnologico de Monterrey | August 2011 - May 2014 |</li>
        <li>College: Tecnologico de Monterrey | August 2014 - May 2019 |</li>
        <li>Later Education: Tecnologico de Monterrey - Data Analytics & Visualization Bootcamp | March 2021 - August 2021 |</li>
      </ul>    
    </div>
  </div>

  <div class='row'>
    <div class='col-12 work-exp'>
      <h4>Work Experience</h4>
      <ul>
        <li>2019 - Samsung SEM-P  | Process Engineer |</li>
        <li>2019 - 2021 - WMW Altamira | Industrial Engineer |</li>
        <li>2022 - Ford Motor Company | Data Analyst Engineer - Python Engineer |</li>
      </ul>
    </div>
  </div>

  <div class='row'>
    <div class='col-4'>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" colspan="3">Cloud Services & Deployment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg" alt="Italian Trulli" width=50 height=40></td>
            <td><img src="https://seeklogo.com/images/G/google-cloud-logo-ADE788217F-seeklogo.com.png" alt="Italian Trulli" width=50 height=40></td>
            <td> <img src="https://cdn-icons-png.flaticon.com/512/873/873120.png" alt="Italian Trulli" width=50 height=40></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='col-4'>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" colspan="3">Human Languages</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="https://cdn.britannica.com/73/2573-004-29818847/Flag-Mexico.jpg" alt="Spanish" width=50 height=40></td>
            <td><img src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg" alt="United States" width=50 height=40></td>
            <td><img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg" alt="German" width=50 height=40></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='col-4'>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" colspan="3">Container & Infrastructures</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="https://www.docker.com/wp-content/uploads/2022/03/Moby-logo.png" alt="Docker" width=50 height=40></td>
            <td><img src="https://www.freelogovectors.net/wp-content/uploads/2022/01/terra-form-logo-freelogovectors.net_.png" alt="Terraform" width=50 height=40></td>
            <td> <img src="https://miro.medium.com/max/1024/1*R801s9CtfC4-CiH5beZUfQ.png" alt="Kurbenetes" width=50 height=40></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class='row'>
    <div class='col-4'>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" colspan="2">Programming Languages</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="Python" width=50 height=45></td>
            <td><img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="JS" width=50 height=40></td>
          </tr>
          <tr>
            <td><img src="https://seeklogo.com/images/J/julia-logo-DC9698BAF9-seeklogo.com.png" alt="Julia" width=50 height=40></td>
            <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/VB.NET_Logo.svg/800px-VB.NET_Logo.svg.png" alt="VBA" width=50 height=40></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='col-4'>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" colspan="2">Frameworks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="https://seeklogo.com/images/D/django-logo-F46C1DD95E-seeklogo.com.png" alt="Django" width=50 height=45></td>
            <td><img src="https://cdn.freebiesupply.com/logos/large/2x/flask-logo-png-transparent.png" alt="Flask" width=50 height=45></td>
          </tr>
          <tr>
            <td><img src="https://www.pinpng.com/pngs/m/265-2658026_plotly-dash-logo-png-download-plotly-dash-logo.png" alt="Plotly Dash" width=60 height=40></td>
            <td><img src="https://blog.artegrafico.net/wp-content/uploads/2019/02/jQuery-logo.png" alt="JQuery" width=50 height=40></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='col-4'>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" colspan="2">Analytics Tools</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="https://seeklogo.com/images/T/tableau-software-logo-F1CE2CA54A-seeklogo.com.png" alt="Tableau" width=50 height=40></td>
            <td><img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Alteryx_logo.svg" alt="Alteryx" width=50 height=40></td>
          </tr>
          <tr>
            <td><img src="https://iconape.com/wp-content/files/qp/90030/png/qlik-sense.png" alt="Qlik Sense" width=50 height=40></td>
            <td><img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Power_bi_logo_black.svg" alt="Power Bi" width=50 height=40></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='col-6'>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" colspan="3">Hard Skills</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>HTML</td>
            <td>CSS</td>
            <td>Javascript</td>

          </tr>
          <tr>
            <td>Django</td>
            <td>Python</td>
            <td>Flask</td>
          </tr>
          <tr>
            <td>Mongo DB</td>
            <td>SQL</td>
            <td>Dash</td>
          </tr>
          <tr>
            <td>Docker</td>
            <td>Kubernetes</td>
            <td>MS Office</td>
          </tr>
          <tr>
            <td>Heroku</td>
            <td>GCP</td>
            <td>AWS</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='col-6'>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" colspan="3">Soft Skills</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Fast Learning</td>
            <td>Team Work</td>
            <td>Work Smart</td>

          </tr>
          <tr>
            <td>Creativity</td>
            <td>Adaptability</td>
            <td>Emotional Intelligence</td>
          </tr>

          <tr>
            <td>Public Speaking</td>
            <td>Problem Solver</td>
            <td>Critical Thinking</td>
          </tr>

          <tr>
            <td>Integrity</td>
            <td>Open Minded</td>
            <td>Respect</td>
          </tr>

          <tr>
            <td>Discipline</td>
            <td>Willing to Learn</td>
            <td>Empathy</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class='row'>
    <div class='col-6'>
      <h4>Interests</h4>
      <ul>
        <li>Dashboards Development</li>
        <li>Data Analytcs Tools Development</li>
        <li>Learning New Programming Languages</li>
        <li>Artificial Intelligence</li>
      </ul>
    </div>
    <div class='col-6'>
      <h4>Hobbies</h4>
      <ul>
        <li>Football</li>
        <li>Hanging with Family & Friends</li>
        <li>Sports</li>
        <li>Programming</li>
      </ul>
    </div>

  </div>

</div>

{% endblock %}