


.container{
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 8px 8px #AAAAAA;
}


.centerblock {
  display: grid;
  margin: auto;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto 
}

.center {
  white-space: nowrap;
  
  text-align: center; margin: 1em 0;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

.row{
  border-bottom: 2px solid black;
  padding: 1rem;
}

h4{
  margin-bottom: 1.25rem;
  
}

td {
  text-align: center;
}

th {
  text-align: center;
}

.my-cv-header{
  background-image: url('https://www.nasa.gov/sites/default/files/thumbnails/image/web_first_images_release_0.png');
  background-size: cover;
}